.start_date {
  flex: 0.16;
  display: flex;
  gap: 12px;
  padding-left: 2rem;
}

.number_selection {
  margin-bottom: 1rem;
  width: 15%;
  margin-right: 1rem;
  align-self: flex-end;
}

.number_selection_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.status_selection {
  margin-bottom: 1rem;
  width: 30%;
  margin-right: 1rem;
}

.provider_selection {
  margin-bottom: 1rem;
  width: 60%;
  margin-right: 1rem;
}

.filter_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selection_wrapper {
  display: flex;
  flex-direction: "row";
}

.number_text {
  font-weight: 500;
  margin-right: 1rem;
}

.sent_header {
  text-align: left;
  padding-left: 0px;
  width: 8%;
}

.sorting_header {
  display: flex;
  gap: 12px;
  flex: 1;
  text-align: left;
}

.sent_icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.status_wrapper {
  width: 5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.provider_name {
  display: flex;
  flex: 1;
  align-items: center;
}

.custom-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0.375rem;
}

.pages {
  border: 1px solid #d6d6d6;
  width: 2rem;
  cursor: pointer;
  padding: 0;
  text-align: center;
}

.active {
  background-color: #d6d2f8;
}
