#regionsDrop li:hover{color:blue}

.add-padding {
  padding-left: 36px !important;
}

.thead-height {
  height: 50px;
  vertical-align: middle;
}
.plusButton {
  border-radius: 20px !important;
  text-align: center;
  vertical-align: auto;
}

.announcement-table-cell-vertical {
  vertical-align: middle;
  display: table-cell;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row-color1 {
  background-color: white;
}


.clickable-row-color2 {
  background-color: #ebedef;
}

.card-hidden {
  width: 100% !important;
  // background-color:#ebedef!important;
}

.custom-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0.375rem;
}

.pages {
  border: 1px solid #d6d6d6;
  width: 2rem;
  cursor: pointer;
  padding: 0;
  text-align: center;
}

.active {
  background-color: lightgreen;
}

