<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html">
<c-row class="mt-5">
  <c-col md="1"></c-col>
  <c-col md="10">
    <c-card>
      <c-card-body class="pl-5 shadow">
        <h1>Provider accounts</h1>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row class="mt-3">
<c-col md="1"></c-col>
  <c-col md="10">
    <c-card>
      <c-card-body class="pl-5 ml-5 mt-1 shadow">
        <c-row class="mb-5 ml-5">
          <c-col>
            <h4 cCardTitle>Accounts list</h4>
          </c-col>
          <c-col style="text-align:right">
            <button cButton color="secondary">Add new user</button>
          </c-col>
        </c-row>
        <c-row class="mb-5 ml-5">
          <c-col>
            <c-dropdown class="mb-5 ml-5">
            <button cButton color="light" cDropdownToggle>Select provider
            </button>
            <ul cDropdownMenu>
              <li><button [routerLink]="[]" cDropdownItem>EPBiH</button></li>
              <li><button [routerLink]="[]" cDropdownItem>BHTelecom</button></li>
              <li><button [routerLink]="[]" cDropdownItem>BiHAMK</button></li>
            </ul></c-dropdown>
          </c-col>

          <c-col>
            <input #box (keyup)="0" value="Search" md="30">
          </c-col>
        </c-row>
        
        <c-row class="ml-5 pl-5">
          <table cTable hover>
            <thead>
            <tr class="pt-3 pb-3">
              <!-- <th></th> -->
              <th class="announcement-table-col-13">First name</th>
              <th class="announcement-table-col-20">Last name</th>
              <th class="announcement-table-col-13">Email</th>
              <th class="announcement-table-col-30">Role</th>
              <!-- <th class="announcement-table-col-10">Streets</th> -->
              <th class="announcement-table-col-20">Action</th>
            </tr>
            </thead>
            <tbody>
              <tr
              *ngFor="let user of users; let i = index"
              class="users-table-row"
            >
              <td scope="row">{{ user.FirstName }}</td>
              <td>{{ user.LastName }}</td>
              <td>{{ user.Email }}</td>
              <td></td>
              <td>
                <div class="d-grid gap-2 d-md-flex justify-content-md">
                <button cButton color="success"
                (click)="onClick(user.Id)">Edit</button>
                <button cButton color="danger" 
                (click)="onDelete(user.Id)">Delete</button></div></td>
            </tr>
            </tbody>
          </table>
        </c-row>
        
      </c-card-body>
    </c-card>
  </c-col>
</c-row>