<c-modal-body>
  <form cForm [formGroup]="addNewSubscriptionForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="mb-3 col-md-12">
        <div class="row">
          <label class="mb-3 text-center"> Select Topic</label>
        </div>
        <div class="row p-3">

          <select [attr.disabled]="true" cSelect  class="mb-3 text-center" (change)="changeTopic($event)" formControlName="topicControl"
            *ngIf="editSubscriptionInfo && (editSubscriptionInfo | json) != '{}'" >
            <option value="" disabled>Choose Topic</option>
            <option *ngFor="let topic of Topics" [ngValue]="topic.id" [selected]="topic.id==editSubscriptionInfo.TopicId">
              {{ topic.name }} Edit
            </option>
          </select>

          <select cSelect  class="mb-3 text-center" (change)="changeTopic($event)" formControlName="topicControl"
          *ngIf="!editSubscriptionInfo || (editSubscriptionInfo | json) == '{}'" >
          <option value="" disabled>Choose Topic</option>
          <option *ngFor="let topic of Topics" [ngValue]="topic.id">
            {{ topic.name }}
          </option>
        </select>

          <!-- <select cSelect class="mb-3 text-center" (change)="changeTopic($event)" formControlName="topicControl"
            *ngIf="!editSubscriptionInfo || (editSubscriptionInfo | json) == '{}'">
            <option value="" disabled>Choose Topic</option>
            <option *ngFor="let topic of topics" [ngValue]="topic.Id">
              {{ topic.Name }}
            </option>
          </select> -->

        </div>
      </div>
      <!-- <div class="mb-3 col-md-6">
        <div class="row">
          <label class="mb-3 text-center"> Select Category</label>
        </div>
        <div class="row p-3">
          <select cSelect multiple class="mb-3 text-center" (change)="changeCategory($event)"
            formControlName="categoryControl">
            <option value="" disabled>Choose Category</option>

            <option *ngFor="let category of categories" [ngValue]="category.Id">
              {{ category.Name }}
            </option>
            <option selected *ngFor="let category of SelectedCategories" [ngValue]="category.Id">
              {{ category.Name }}
            </option>
          </select>
        </div>
      </div> -->
    </div>
  </form>

</c-modal-body>
