<c-modal-body>
    <form cForm [formGroup]="addNewSubscriptionForm"
    (ngSubmit)="onSubmit()"
     >
      <div class="row">
        
        <div class="mb-3 col-md-6">
              <select cSelect
              class="mb-3"
              (change)="changeTopic($event)"
              formControlName="topicControl">
              <option value="" disabled>Choose Topic</option>
              <option *ngif="this.editMode" selected [ngValue]="editSubscriptionInfo.Topic"> {{editSubscriptionInfo.Topic}}</option>
              <option *ngFor="let topic of Topics" [ngValue]="topic">
                {{ topic }}
              </option>
            </select>
        </div>
        <div class="mb-3 col-md-6">
              <select cSelect multiple
              class="mb-3"
              (change)="changeCategory($event)"
              formControlName="categoryControl"
            >
              <option value="" disabled>Choose Category</option>
              <option *ngFor="let category of Categories" [ngValue]="category">
                {{ category }}
              </option>
            </select>
        </div>
      </div>
    </form>
</c-modal-body>