form {
  width: 500px;

  .user-settings-region {
    display: flex;
    justify-content: space-between;
  
    h6 {
      margin: auto 0;
    }
  
    select {
      width: 300px;
    }
  }

  button {
    width: 150px;
  }  
}