<h1 style="text-align: center">Announcements</h1>
<c-card>
  <div class="me-1" style="padding: 1%">
    <button cButton color="primary" (click)="toggleCreateAnnouncementButton()">+ Add new notification</button>
  </div>
</c-card>
<c-card class="mb-4">
  <c-card-body>
    <ng-container *ngTemplateOutlet="liveDemo"></ng-container>
    <ng-container *ngTemplateOutlet="deleteDemo"></ng-container>
    <ng-container *ngTemplateOutlet="createDemo"></ng-container>
    <ng-container *ngTemplateOutlet="scrollableLongContent"></ng-container>
    <ng-container *ngTemplateOutlet="scrollableLongContent2"></ng-container>
    <ng-container *ngTemplateOutlet="scrollableLongContent3"></ng-container>


    <table cTable hover>
      <tbody>
      <th>Title</th>
      <th>Provider</th>
      <th>Publish Date&Time</th>
      <th>Url</th>
      <th>More...</th>
      <th>Options</th>
      <ng-container *ngFor="let value of notifications">
          <tr>
          <td>{{value.Title}}</td>
            <td>{{value.ProviderId}}</td>
        <td>{{parseDate(value.PublishDate)}}</td>
          <td>{{value.SourceUrl}}</td>
            <td>
              <div style="padding: 2%">
              <button cButton color="light" (click)="showDescription(value.Description)">Description</button>

              </div>
              <div style="padding: 2%">
              <button cButton color="light" (click)="showAddInfo(value.AdditionalInformation)">Additional Information</button>
              </div>
              <div style="padding: 2%">
              <button cButton color="light" (click)="showContent(value.Content)">Content</button>
              </div>
            </td>
        <td>
          <c-button-group aria-label="Basic example" role="group">
            <button cButton color="light" (click)="toggleEditButtonDemo(value)">Edit</button>
            <button cButton color="danger" (click)="toggleDeleteButton(value.Id)">Delete</button>
          </c-button-group>
        </td>
      </ng-container>
      </tbody>
    </table>
  </c-card-body>
</c-card>

<ng-template #liveDemo>
  <c-modal id="liveDemoModal" [visible]="liveDemoVisible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Delete notification</h5>
      <button (click)="closeDeleteButton()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>Are you sure you want to delete this record?</c-modal-body>
    <c-modal-footer>
      <button (click)="closeDeleteButton()" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" (click)="deleteItem()">Delete</button>
    </c-modal-footer>
  </c-modal>
</ng-template>

<c-modal id="liveEditForm" [visible]="editFormVisible" (visibleChange)="handleEditModalChange($event)">
  <c-modal-header>
    Edit form
  </c-modal-header>
  <c-modal-body>
    <form cForm *ngIf=editFormVisible>
      <div class="mb-3">
        <label cLabel for="announcementTitleInput1">Title</label>
        <textarea cFormControl id="announcementTitleInput1" rows="1">{{editAnnouncement.Title}}</textarea>
      </div>
      <div class="mb-3">
        <label cLabel for="announcementTitleInput2">Url</label>
        <textarea cFormControl id="announcementTitleInput2" rows="1">{{editAnnouncement.SourceUrl}}</textarea>
      </div>
      <div class="mb-3">
        <label cLabel for="announcementTitleInput3">Description</label>
        <textarea cFormControl id="announcementTitleInput3" rows="1">{{editAnnouncement.Description}}</textarea>
      </div>
      <label cLabel for="announcementTitleInput4">Content</label>
      <div class="mb-3">
        <textarea cFormControl id="announcementTitleInput4" rows="1">{{editAnnouncement.Content}}</textarea>
      </div>
      <div class="mb-3">
        <label cLabel for="announcementTitleInput5">Additional Information</label>
        <textarea cFormControl id="announcementTitleInput5" rows="1">{{editAnnouncement.AdditionalInformation}}</textarea>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleEditDemo()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" >Save changes</button>
  </c-modal-footer>
</c-modal>

<!-- Form for creating new announcement -->
<ng-template #createDemo>
<c-modal id="createForm" [visible]="createFormVisible" (visibleChange)="handleCreateAnnouncement($event)" >
  <c-modal-header>
    Create new announcement
  </c-modal-header>
  <c-modal-body>
      <form #createForm="ngForm" *ngIf=createFormVisible>
        <div class="mb-3">
          <ng-multiselect-dropdown
            [placeholder]="'Providers'"
            [settings]="dropdownSettingsProviders"
            [data]="providers"
            [(ngModel)]="clickedProviders"
            (onSelect)="onProviderSelect($event)"
            (onSelectAll)="onSelectAllProviders($event)"
            (onDeSelect)="onDeselectProviders($event)"
            (onDeSelectAll)="onDeselectAllProviders($event)"
          >
          </ng-multiselect-dropdown>
        </div>
      <div class="mb-3">
        <div class="input-fields">
        <label cLabel for="title">Title</label>
        <input cFormControl id="title" rows="1" name="newAnnouncTitle" type="text" ngModel>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="mb-3 form-outline datetimepicker">
            <label cLabel for="startdatepicker">Start date</label>
            <input cFormControl type="text" value="22/12/2022"  id="startdatepicker"  name="newAnnouncStartDate" ngModel/>
          </div>
        </div>
        <div class="col-md">
          <div class="mb-3 form-outline datetimepicker">
            <label cLabel for="startdatepicker">Start time</label>
            <input cFormControl type="text" value="14:56:03"  id="starttimepicker"  name="newAnnouncStartTime" ngModel/>
          </div>
        </div>
        <div class="col-md">
          <div class="mb-3 form-outline datetimepicker">
            <label cLabel for="enddatepicker">End date</label>
            <input cFormControl type="text" value="22/12/2022" id="enddatepicker" name="newAnnouncEndDate" ngModel/>
          </div>
        </div>
        <div class="col-md">
          <div class="mb-3 form-outline datetimepicker">
            <label cLabel for="enddatepicker">End time</label>
            <input cFormControl type="text" value="14:56:30" id="endtimepicker" name="newAnnouncEndTime" ngModel/>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label cLabel for="url">Url</label>
        <textarea cFormControl id="url" rows="2" name="newAnnouncUrl" ngModel></textarea>
      </div>
      <div class="mb-3">
        <label cLabel for="description">Description</label>
        <textarea cFormControl id="description" rows="2" name="newAnnouncDescription" ngModel></textarea>
      </div>
      <div class="mb-3">
        <label cLabel for="content">Content</label>
        <textarea cFormControl id="content" rows="3" name="newAnnouncContent" ngModel></textarea>
      </div>
      <div class="mb-3">
        <label cLabel for="additionalInformation">Additional Information</label>
        <textarea cFormControl id="additionalInformation" rows="2"name="newAnnouncAddInfo" ngModel ></textarea>
      </div>
      <div class="mb-2">
        <ng-multiselect-dropdown
          [placeholder]="'Regions'"
          [settings]="dropdownSettingsRegions"
          [data]="regions"
          [(ngModel)]="clickedRegions"
          (onSelect)="onRegionSelect($event)"
          (onSelectAll)="onSelectAllRegions($event)"
          (onDeSelect)="onDeselectRegions($event)"
          (onDeSelectAll)="onDeselectAllRegions($event)"
        >
        </ng-multiselect-dropdown>
      </div>
        <div class="mb-2">
          <ng-multiselect-dropdown
            [placeholder]="'Streets'"
            [settings]="dropdownSettingsStreets"
            [data]="streets"
            [(ngModel)]="clickedStreets"
            (onSelect)="onStreetsSelect($event)"
            (onSelectAll)="onSelectAllStreets($event)"
            (onDeSelect)="onDeselectStreets($event)"
            (onDeSelectAll)="onDeselectAllStreets($event)"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>

    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleCreateAnnouncementButton()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" type='submit' (click)="submitForm(createForm.value)">Save changes</button>
  </c-modal-footer>
</c-modal>
</ng-template>


<ng-template #deleteDemo>
  <c-modal id="liveDemoModalAlert" [visible]="doubleAnnouncementVisible">
    <c-modal-header>
      <h5 cModalTitle>Double notification alert</h5>
      <button (click)="doubleAnnouncement()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>There is the same notification in database.</c-modal-body>
    <c-modal-footer>
      <button (click)="doubleAnnouncement()" cButton color="secondary">
        Close
      </button>
    </c-modal-footer>
  </c-modal>
</ng-template>


<ng-template #scrollableLongContent>
  <!--button [cModalToggle]="scrollableLongContentModal.id" cButton>Desciption</button-->
  <c-modal #scrollableLongContentModal id="scrollableLongContentModal" scrollable [visible]="descriptionDemoVisible" (visibleChange)="handleDescriptionVisible($event)">
    <c-modal-header>
      <h5 cModalTitle>Announcement Description</h5>
      <button [cModalToggle]="scrollableLongContentModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
<div>{{announcementDescription}}</div>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="scrollableLongContentModal.id" cButton color="secondary">
        Close
      </button>
    </c-modal-footer>
  </c-modal>
</ng-template>


<ng-template #scrollableLongContent2>
  <!--button [cModalToggle]="scrollableLongContentModal.id" cButton>Desciption</button-->
  <c-modal #scrollableLongContentModal id="scrollableAddInfoModal" scrollable [visible]="addInfoDemoVisible" (visibleChange)="handleAddInfoVisible($event)">
    <c-modal-header>
      <h5 cModalTitle>Announcement Additional Information</h5>
      <button [cModalToggle]="scrollableLongContentModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <div>{{announcementAddInfo}}</div>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="scrollableLongContentModal.id" cButton color="secondary">
        Close
      </button>
    </c-modal-footer>
  </c-modal>
</ng-template>


<ng-template #scrollableLongContent3>
  <!--button [cModalToggle]="scrollableLongContentModal.id" cButton>Desciption</button-->
  <c-modal #scrollableLongContentModal id="scrollableContentModal" scrollable [visible]="contentDemoVisible" (visibleChange)="handleContentVisible($event)">
    <c-modal-header>
      <h5 cModalTitle>Announcement Content</h5>
      <button [cModalToggle]="scrollableLongContentModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <div>{{announcementContent}}</div>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="scrollableLongContentModal.id" cButton color="secondary">
        Close
      </button>
    </c-modal-footer>
  </c-modal>
</ng-template>
