<div>
  <h3 style="text-align:center">Announcement Overview</h3>
  <c-form-check>
  <input cFormCheckInput id="checkOne" type="checkbox" [checked]="enableFiltering"  (change)="enableFiltering=!enableFiltering"/>
  <label cFormCheckLabel for="checkOne">Enable filtering</label>
</c-form-check>
<table [striped]="true" cTable>
  <thead cTableColor="dark">
            <tr style="font-size: normal; text-align: center; vertical-align: middle;" fon>
              <th scope="col" >ID</th>
              <th scope="col">Identifier</th>
              <th scope="col">Subscription ID</th>
              <th scope="col">Subscriber ID</th>
              <th scope="col">Last notified on</th>
              <th scope="col">No. sent announcements</th>
              <th scope="col">Created on</th>
              <th scope="col">Modified on</th>
            </tr>
              </thead>
              <tr style="font-size: small; text-align: center;" *ngFor="let announcement of announcements">
                <th scope="row">{{announcement.id}}</th>
                <th scope="row">{{announcement.identifier}}</th>
                <th scope="row">{{announcement.subscriptionIdentifier}}</th>
                <th scope="row">{{announcement.subscriberIdentifier}}</th>
                <th scope="row">{{announcement.lastTimeNotified}}</th>
                <th scope="row">{{announcement.numberOfSentAnnouncements}}</th>
                <th scope="row">{{announcement.createDate}}</th>
                <th scope="row">{{announcement.modifiedDate}}</th>
              </tr>
 
</table>
</div>
